[submodule "src/lib/gsl/source"]
	path = src/lib/gsl/source
	url = git://git.savannah.gnu.org/gsl.git
	ignore = dirty
[submodule "src/lib/imagemagick/source"]
	path = src/lib/imagemagick/source
	url = https://github.com/ImageMagick/ImageMagick.git
	ignore = dirty
[submodule "src/lib/libjpeg/source"]
	path = src/lib/libjpeg/source
	url = https://gitlab.com/zhuvikin/libjpeg.git
	ignore = dirty
[submodule "src/lib/libpng/source"]
	path = src/lib/libpng/source
	url = git://git.code.sf.net/p/libpng/code
    ignore = dirty
[submodule "src/lib/zlib/source"]
	path = src/lib/zlib/source
	url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "src/lib/openjpeg/source"]
	path = src/lib/openjpeg/source
	url = https://github.com/uclouvain/openjpeg.git
