[submodule "src/lib/gsl/source"]
	path = src/lib/gsl/source
	url = git://git.savannah.gnu.org/gsl.git
	ignore = dirty
[submodule "src/lib/imagemagick/source"]
	path = src/lib/imagemagick/source
	url = https://github.com/ImageMagick/ImageMagick.git
	ignore = dirty
[submodule "src/lib/libjpeg/source"]
	path = src/lib/libjpeg/source
	url = https://gitlab.com/zhuvikin/libjpeg.git
	ignore = dirty
